@import "~bootstrap/scss/bootstrap";

$primary-color: #FFAD60;
$primary-light: #f08c00;
$white: #ffffff;

.navbar-wrapper {
   font-size: 1.6rem;
   cursor: pointer;
   font-weight: bold;
   background-color: $primary-color;
}


.navbar-nav .nav-link {
   color: #000 !important;
}


.navbar-brand {
   position: relative;
   font-family:'Lobster';
   font-weight: 400;
   font-size: 3.5rem;
   padding: 0;
   margin: 0;

   &::after {
      content: "";
      border-bottom: 0.1em solid #000;
      border-radius: 0.5rem;
      position: absolute;
      bottom: 0.14em;
      top: 0;
      left: 0;
      right: 100%;
      z-index: 10;
      transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
    }
    &:hover::after {
      right: 0;
    }
}

.navbar-toggler {
   //border-radius: 50%;
   border: transparent !important;

   &-icon {
     background-image: none!important;
   }
   
}

// .navbar-toggler-icon {
//    background-image: none!important;
// }


// .navbar-wrapper {
//    position: relative!important;  
// }

// .nav-container h1 {
//    position: absolute!important;
//    transform: translate (-30%, -5%)!important;
//    color:#000!important;
// }

// .nav-container h1:nth-child(1) {
//    color: transparent!important;
//    -webkit-text-stroke: 2px #03a9f4!important;
// }

// .nav-container h1:nth-child(2) {
//    color: #03a9f4!important;
//    animation: wave 4s ease-in-out!important;
// }

// @keyframes wave 
// {
//    0%,100% {
//       clip-path: polygon (
//          0% 45%,
//          16% 44%,
//          33% 50%,
//          54% 60%,
//          70% 61%,
//          84% 59%,
//          100% 100%,
//          0% 100%
//       );
//    }

//    50% 
//    {
//       clip-path: polygon (
//          0% 60%,
//          15% 65%,
//          34% 66%,
//          51% 62%,
//          67% 50%,
//          84% 45%,
//          100% 46%,
//          100% 100%,
//          0% 100%
//       );
//    }
// }