@import "~bootstrap/scss/bootstrap";
@import "../../Shared/Color-Variables/color-variables" ;



.navbar-wrapper {
   font-size: 1.6rem;
   cursor: pointer;
   font-weight: bold;
   background-color: #32d1c9;

   & li {
      list-style-type: none;
   }
}


.nav-links {
   position:relative;
   color: $color-text !important;
   text-decoration: none;
   border-radius: 50%;

   &:hover {
      animation: pulse 1.9s infinite;
   }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.navbar-brand {
   position: relative;
   font-family:'Lobster';
   font-weight: 400;
   font-size: 3.5rem;
   padding: 0;
   margin: 0;

   &::after {
      content: "";
      border-bottom: 0.1em solid #000;
      border-radius: 0.5rem;
      position: absolute;
      bottom: 0.14em;
      top: 0;
      left: 0;
      right: 100%;
      z-index: 10;
      transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
    }
    &:hover::after {
      right: 0;
    }

    
}

.navbar-toggler {
   
   border: transparent !important;
   outline: none !important;
   color: transparent!important;
   
   
   &-icon {
     background-image: none!important;
   }

   & :hover {
      fill: #fff;
      transition: all .1s ease-in-out;
   }

}



