@import "./Color-Variables/color-variables" ;
@import "../Shared/MediaQueries/breakpoints.scss";


.lines{
   position: relative;
   width: 10rem !important;
   height: 45px;  
   margin: 5rem 0;

   //media query-mixing
   @include xm {
     margin: 0 !important;
   }
}

.lines {
   &::after {
      left: -2rem;
   }
   &::before {
      right: -2rem;
   }
}
.lines::before, .lines::after{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: $primary-darker;
  width: 45%;
  top: 45%;
}

.icon-separator {
   fill: $primary-darker !important;
}