$primary-color: #FFAD60;
$primary-light: #f08c00;


.contact-wrapper {
   background:$primary-light;
   box-shadow: 0 0 2rem 0 rgba(72, 94, 106, 0.7);
   margin-bottom: 5rem;

   & > * {
      padding: 1.5rem;
      //margin: 1rem;
   }

   & h1 {
      margin-bottom: 1.5rem;
   }


   & contact-main-row {
     margin: 1rem;
   }

   ul {
      list-style: none;
      padding: 0;

      & li {
         font-size: 1.5rem;
         margin: 1rem 0;
      }
   }

   .contact-info {
      background: $primary-color;   
   }

   .contact-form {
      background: #f9feff;
      text-align: center;
   

   & h3 {
      font-size: 2.5rem;
      font-weight: 600;
   }

    & form {
      
         font-size: 1.3rem;
         margin: 10px;
         border: 1px solid #f9feff;

         & label {
            display: block;
         }

         & .text-area {
         width: 100%; //put 100% for small vports 
         }

         & input {
            margin: 10px 0;
         }

      & .btn-form {
         font-size: 1.5rem;
         font-weight: 600;
         color: #000;
         text-transform: uppercase;
         background:  #FFAD60;
         width: 50%;
         border: 0;
         &:hover {
            background-color: #f08c00;
            transform: scale(.95);
            outline: 0;
            transition: all .7s ease-in-out;
         }
      }

      & input {
         width: 100%;
      }
    }

 }

}