@import "../../Shared/Color-Variables/color-variables" ;

.footer-wrapper {
   background-color: $primary-color;
   font-size: 1.4rem;
   margin: 3rem 0 0 0;
   padding: 3rem ;

  & .footer__social{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      
      
   }
}



