// SCSS Global Variables 

//Color

$primary-color: #FFAD60;
$color-secondary: #ff7730;
$primary-dark: #f08c00;
$color-darker:#452400;
$primary-white: #fff;
$primary-error: #f33501;
$primary-success: green;
$bc-color: #f3bb80;
$color-shade: #733c00;







