// SCSS Global Variables 

//Color

//$primary-color: #FFAD60;
$primary-color: #32d1c9;
$primary-light:#adede9;
$primary-dark: #269d97;
$primary-darker: #176d69;
$color-secondary: #87dceb;
$color-darker:#131131;
$color-text: #131131;
$primary-white: #fff;
$primary-error: #f33501;
$primary-success: green;
$bc-color: #f3bb80;
$color-shade: #733c00;







