@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "~bootstrap/scss/bootstrap";

:root {
  $primary-color: #32d1c9;
  $primary-light:#adede9;
  $primary-dark: #269d97;
  $primary-darker: #176d69;
  $color-secondary: #87dceb;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lora', serif, 'Lobster', cursive !important;
  line-height: 1.5;
  color: #131131 !important;
  background-color: #d5f5f3 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




