@import "../../Shared/Color-Variables/color-variables" ;
@import "../../Shared/MediaQueries/breakpoints.scss";

.skills-container-wrapper {
   margin-top: 5px;

	//media query-mixing
   @include xm {
    margin-top: 0 !important;
	 padding: 0 1em !important;
   }

	& h2 {
		text-shadow: 1px 1px 2px $primary-color;
	}
}


